<section class="task">
    <section>
        <h2 class="task-title">{{ task.title }}</h2>
        <p class="task-description">{{ task.description }}</p>
        <label for="task-completed">Выполнен: </label>
        <input id="task-completed" type="checkbox"
        [checked]="task.completed" (change)="handleCheckboxChange()">
    </section>
    <button type="button" (click)="handleDelete()">Удалить</button>
    <a [routerLink]="['/tasks/' + task.id]"  >
        <button type="button" >Изменить</button>
    </a>
</section>